

# Keep remote `archives`, `drafts`, and `images` folders
# in `content` empty except for `README.md` files
# which should already be tracked. 

## History should be private; the folders should be placeholders 
## for others wanting to use the same model.

content/drafts/*
content/archives/*
content/images/*

## Account data should also be private.

userdata/scriptogram/*
userdata/picasa/*
